<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>nine.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,60},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>eight.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,60},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>seven.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,60},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>six.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,60},{44,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>five.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,60},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>four.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,4},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>three.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,4},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>two.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,4},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>one.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,4},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>zero.png</key>
		<dict>
			<key>frame</key>
			<string>{{-1,4},{50,50}}</string>
			<key>offset</key>
			<string>0</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>number_sheet.png</string>
		<key>size</key>
		<string>{500,500}</string>
		<key>realTextureFileName</key>
		<string>number_sheet.png</string>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
